@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@font-face{
    font-family: 'Font';
    src: url('Font.otf') format('opentype')
}
/* START CSS*/

:root{

--cinza: #353535;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Font', sans-serif deformer-bottom; */
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #000;
    overflow-x: hidden;
}

#menu{
    display: flex;
    list-style: none;
    gap: 0.5rem;
    align-items: center;
    padding: 20px;
    transition: all 1s ease;
    opacity: 1;
    z-index: 99;
}

#logo{
    max-width: 80px;
    margin-top: 6px;
}

.text{
    display: flex;
    justify-content: space-around;
    width: 55%;
    align-items: center;
    text-transform: uppercase;
}

.text li{
    color: #fff;
}

#entrada{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transition: all 3s ease; */
    /* animation: piscar 3.5s ease; */
    opacity: 1;
    background-color: #000;
    z-index: 999;

}



.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    position: relative;
    z-index: 1;
    color: #fff; /* Exemplo: define a cor do texto como branco */
}





/* ANIMAÇÕES */
@keyframes piscar{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}